:host ::ng-deep .p-selectbutton .p-togglebutton {
  background: transparent !important;
  border-color: transparent !important;
  color: var(--color-neutral-100) !important;
  margin: 1px;
  border-radius: 1px;
}
::ng-deep .p-selectbutton .p-togglebutton.p-togglebutton-checked .p-togglebutton-label {
    color: var(--p-primary-600) !important;
}

.float-enter {
  animation: floatIn 2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.float-leave {
  animation: floatOut 1s ease-in forwards;
}

@keyframes floatIn {
  0% { 
    opacity: 0; 
    transform: translateY(-70px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes floatOut {
  0% { 
    opacity: 1; 
    transform: translateY(0); 
  }
  100% { 
    opacity: 0; 
    transform: translateY(-10px); 
  }
}