<form [formGroup]="changePasswordForm" (ngSubmit)="submit()" class="flex flex-col text-lg gap-5 m-2" dir="rtl">
    
        <div class="flex flex-col gap-2">
            <div class="flex flex-row text-sm text-[var(--p-primary-600)] justify-between">
            <p>کد تایید را وارد کنید:</p>
            <div *ngIf="otpTimer() as timer">
            <div *ngIf="timer > 0" >
                {{ timer * 1000 | date:'mm:ss': 'UTC' | persianDigits}}
            </div>
            <p-button *ngIf="timer === 0" (onClick)="requestOtp()" variant="text"
                size="small" severity="secondary">
                ارسال دوباره ی کد تایید
            </p-button>
        </div>
        </div>
            <div dir="ltr" class="flex justify-end">
                <p-inputotp 
                    (onChange)="normalizeDigits($event.value)" 
                    [length]="6"
                    formControlName="otp" 
                    [integerOnly]="true"
                    style="direction: ltr !important; text-align: left;" 
                    styleClass="ltr">
                </p-inputotp>
            </div>
        </div>
    

    <p-password 
        formControlName="newPassword" 
        placeholder="گذرواژه جدید" 
        [toggleMask]="true" 
        styleClass="w-full text-sm"
        inputStyleClass="w-full text-sm"
        autocomplete="new-password" 
        promptLabel="یک گذرواژه قوی انتخاب کنید." 
        weakLabel="گذرواژه ضعیف"
        mediumLabel="گذرواژه متوسط" 
        strongLabel="گذرواژه قوی">
    </p-password>

    <div class="relative">
        <p-password 
            formControlName="repeatNewPassword" 
            placeholder="تکرار گذرواژه جدید" 
            [toggleMask]="true" 
            [feedback]="false"
            styleClass="w-full"
            inputStyleClass="w-full"
            (onFocus)="passwordRepeatFocused.set(true)" 
            (onBlur)="passwordRepeatFocused.set(false)">
        </p-password>

        @if (passwordRepeatFocused() && changePasswordForm.hasError('passwordMismatch')) {
            <div class="p-password-overlay border-2 absolute z-10 text-sm mt-1 !text-red-400">
                گذرواژه‌ها با هم مطابقت ندارند.
            </div>
        }
    </div>

    <div class="flex flex-row items-center gap-2 mt-2">
        <p-button 
            type="submit"
            [disabled]="changePasswordForm.invalid" 
            rounded="true" 
            size="small" 
            severity="primary">
            <span>ذخیره <i class="pi pi-save mr-1"></i></span>
        </p-button>
    </div>
    
</form>