<p-dialog 
    [visible]="visible()" 
    (visibleChange)="dismiss()" 
    [modal]="true" 
    [dismissableMask]="true" 
    [showHeader]="false"
    [style]="{ width: '50vw' }" 
    [breakpoints]="{ '199px': '70vw', '767px': '92vw' }"
    transitionOptions="600ms cubic-bezier(0.25, 0.8, 0.25, 1)">
          <p-button 
          icon="pi pi-times" 
          rounded="true"
          severity="secondary"
          (onClick)="dismiss()"
          styleClass="absolute top-2 left-0 z-20 shadow-lg">
      </p-button>
    <div class="flex h-full w-full aspect-video rounded-xl overflow-hiden shadow-2xl items-center justify-center" dir="rtl">
      <div class="absolute rounded-xl inset-0 z-0" [innerHTML]="announcement()?.bannerSvg! | safeHtml"></div>
      <div class="absolute rounded-xl inset-0 bg-white/10 z-10"></div>
      <!-- Close button: top-left, primary, prominent -->


      <div class="relative border z-10 flex h-full w-full justify-between flex-col items-center text-center text-(--p-primary-50)">
         <h2 class="text-md sm:text-xl font-bold mb-3 sm:mb-4 drop-shadow-md">
           {{ announcement()?.title }}
         </h2>
         <p class="text-sm sm:text-md font-bold mb-3 sm:mb-4 drop-shadow-md">
           {{ announcement()?.message }}
         </p>

         @if (announcement()?.link) {
             <p-button
                [label]="announcement()?.linkText || 'مشاهده'" 
                rounded="true" 
                severity="primary"
                (onClick)="onAction()"
                styleClass="shadow-lg font-bold px-6">
             </p-button>
         }
      </div>
      
    </div>
</p-dialog>
