<div dir="rtl" class="flex justify-center">
    <div
        class="rounded-2xl border border-white/80 shadow-[inset_0px_0px_40px_8px_rgba(255,255,255,0.15)] bg-[#646464]/30 m-5 mb-2 backdrop-blur-2xl p-5 text-[var(--p-primary-50)] w-9/10 md:w-3/4">
        <div class="p-2 pb-5 text-center text-2xl">تایید و پرداخت</div>
        <div class="p-2">خلاصه سفارش:</div>
<div class="flex p-2 gap-1 flex-col">
    <div>اشتراک {{ selectedPlan()?.name }}</div>
    <div>مبلغ: {{ selectedPlan()?.price | persianDigits }} تومان</div>
</div>

        <div>
            <div class="flex p-2 gap-5 flex-col">
                <div class="flex flex-row items-center gap-3 pt-3">
                    <div> کد تخفیف: </div>
                    <input class="w-35" type="text" pInputText [(ngModel)]="discountCode" />
                    <p-button size="small"  (click)="applyDiscount()" severity="secondary" rounded="true">اعمال کد </p-button>
                </div>

@if (discountMessage()) {
    <div [class.text-red-600]="!discountValid()">
        {{ discountMessage() }}
    </div>
}
                <div class="flex flex-row gap-2">
                    <p-checkbox inputId="terms" [(ngModel)]="agreedToTerms" [binary]="true">
                    </p-checkbox>
                    <label for="terms">
                        <a class="font-bold text-[var(--p-primary-300)]"
                            href="http://www.berke-app.ir/%d9%82%d9%88%d8%a7%d9%86%db%8c%d9%86-%d9%88-%d9%85%d9%82%d8%b1%d8%b1%d8%a7%d8%aa/"
                            target="_blank">قوانین و مقررات</a> برکه را می‌پذیرم.
                    </label>
                </div>

<div class="flex flex-row p-2 gap-3 text-xl">
    <strong>مبلغ قابل پرداخت: </strong>

    <strong>{{ finalPrice() | persianDigits }} تومان</strong>
</div>

<div>
    <p-button rounded="true" [disabled]="!agreedToTerms" (click)="proceedToPayment()">
        پرداخت و انتقال به درگاه بانکی
    </p-button>
</div>

                    </div>

                </div>
    </div>
</div>