  <div class="w-full mx-auto p-2">
    <div class="flex items-center justify-between mb-5">
      <p-button (click)="prevMonth()" rounded="true" size="small" icon="pi pi-chevron-right"></p-button>
      <div class="text-center">
        <div class="font-semibold text-lg">{{ monthNames[month - 1] }} <span class="text-sm text-[var(--p-primary-200)]">{{ year | persianDigits }}</span></div>
      </div>
      <p-button (click)="nextMonth()" rounded="true" size="small" icon="pi pi-chevron-left"></p-button>
    </div>

    <!-- weekday header -->
    <div class="grid border grid-cols-7 text-center bg-[var(--p-primary-600)] font-medium">
      <div *ngFor="let wd of weekDays" class="py-1 border border-b-0">{{ wd }}</div>
    </div>

    <!-- days grid -->
    <div class="grid border grid-cols-7">
      
      <button class="border"
        *ngFor="let day of days; trackBy: trackByDay"
        (click)="selectDate(day)"
        [attr.aria-current]="isToday(day) ? 'date' : null"
        [class.opacity-50]="!day.isCurrentMonth"
        [class.bg-[var(--p-primary-600)]]="isSelected(day)"
      >
        <div class="py-5 inline-block">
          <span class="flex justify-center items-center w-10 h-10" [innerHTML]="day.jd | persianDigits"
                  [ngClass]="{
          'rounded-3xl border-2': isToday(day),
        }"></span>
        </div>
        <span *ngIf="hasEvents(day)" class="absolute bottom-1 right-1 w-2 h-2 rounded-full bg-red-500" title="{{ eventsMap[getKey(day)].length }}"></span>
      </button>
    </div>
  </div>