.active-button {
    background-color: var(--p-accent-200) !important;
    border-radius: 6px;
    color: var(--p-primary-600) !important;
}

::ng-deep .p-button{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}